
.country {
    border: 2px solid greenyellow;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}
.country-visited{
    background-color: antiquewhite;
    border: 2px solid lightseagreen;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}

.country img {
    width: 100%;
    height: auto;
}