* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;   /* horizontal center */
    /* keep content from sticking to middle vertically */
  min-height: 100vh;
}